{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{post.img_url}}')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="post-heading">
					<h1>{{post.title}}</h1>
					<h2 class="subheading">{{post.subtitle}}</h2>
					<span class="meta">Posted by
            <a href="#">{{post.author_name}}</a>
          on {{post.date}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          {{ post.body|safe() }}
        </p>
        <hr>
        <div class="clearfix">
          {% if logged_in and user.id == 1 %}
          <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a>
          <br>
          <br>
          {% endif %}
        </div>
<!-- Comments Area -->

          {% if logged_in %}
          <!-- Load ckeditor -->
          {{ ckeditor.load() }}
          <!--  Configure the ckeditor to tell it which field in WTForm will need to be a CKEditor. -->
          {{ ckeditor.config(name='comment') }}

          {{ render_form(form) }}
          <br>
          <br>
          {% endif %}
          <div class="col-lg-8 col-md-10 mx-auto comment">
            <ul class="commentList">
              {% for comment in post.comments %}
              <li>
                <div class="commenterImage">
                  <img src="{{ comment.users.email | gravatar }}"/>
                </div>
                <div class="commentText">
                  <p>{{ comment.text|safe }}</p>
                  <span class="date sub-text">{{ comment.users.name }}</span>
                  <br>
                  <br>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>

      </div>
    </div>
  </div>
</article>

<hr>
{% endblock %}